.SonderButtons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  > * {
    flex-grow: 1;
  }
  width: 100%;
}
.typeName {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.sonderGroupName {
  color: #fecc00;
  font-family: "DejaVu Sans Book Condensed", sans-serif;
  font-weight: normal;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: end;
  &:hover {
    cursor: pointer;
    color: #c7ab3b;
  }
}
.sonderGroupDetails {
  display: flex;
  flex-flow: column;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.SonderItemList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  * {
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.SonderSweets {
  cursor: pointer;
  color: gray;
}

.SonderListItem {
  display: flex;
  gap: 20px;
  align-items: center;
  min-width: fit-content;
  flex-grow: 1;
  padding: 10px;
  background-color: #fef9ee;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0 rgba(black, 0.24);
  p {
    margin: 0;
  }
  &.complete {
    opacity: 0.5;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      opacity: 1;
    }
  }
}

.CheckListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}